### Numpy

In [28]:
import numpy as np

# Membuat array 1 dimensi
a = np.array([0, 1, 2, 3])

# Slicing
print("Elemen indeks ke-1 :", a[0])
print("Elemen ke-1 s/d ke-3 :", a[0:3])

# Mengubah elemen array
a[0] = 5
print("Isi array a setelah diubah : ", a)

Elemen indeks ke-1 : 0
Elemen ke-1 s/d ke-3 : [0 1 2]
Isi array a setelah diubah :  [5 1 2 3]

In [58]:
import numpy as np

# Membuat array 2 dimensi
b = np.array([[0, 1, 2, 3],[4,5,6,7]])
print("Isi array 2 Dimensi : \n", b)

# Slicing
print("Elemen baris ke-1 :", b[0,])
print("Elemen baris ke-1 kolom ke-2 s/d ke-3  :", b[0,1:3])

# Mengubah elemen array
b[0,0] = 10
print("Isi array b setelah diubah : \n", b)

# Ukuran Array
print("Ukuran Array b : ", b.shape)

# Filter
arr_filter = b[b%2==0]
print("Isi array arr_filter")
print(arr_filter)

Isi array 2 Dimensi :
 [[0 1 2 3]
 [4 5 6 7]]
Elemen baris ke-1 : [0 1 2 3]
Elemen baris ke-1 kolom ke-2 s/d ke-3  : [1 2]
Isi array b setelah diubah :
 [[10  1  2  3]
 [ 4  5  6  7]]
Ukuran Array b :  (2, 4)
Isi array arr_filter
[10  2  4  6]

### Pandas

In [73]:
import pandas as pd
import numpy as np

#Membuat sebuah objek series
s = pd.Series(np.array([1,2,3,np.nan,5,6]), index=['A','B','C','D','E','F'])
print("Series")
print(s)

#Membuat sebuah objek DataFrame
data = {'Gender' : ['F', 'M', 'M'], 'Emp_ID':['E01','E02','E03'],
       'Age':[25,27,25]}
df=pd.DataFrame(data, columns=['Emp_ID','Gender','Age'])
print("\n\nDataFrame")
print(df)

Series
A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64


DataFrame
  Emp_ID Gender  Age
0    E01      F   25
1    E02      M   27
2    E03      M   25

In [85]:
import pandas as pd

#Membaca data iris
df_iris = pd.read_csv('iris.csv')

print("Fungsi head()")
print(df_iris.head())
print("\nFungsi display()")
display(df_iris.head(n=10))
print("\nFungsi describe()")
print(df_iris.describe())

Fungsi head()
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Fungsi display()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

Fungsi describe()
       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [155]:
import pandas as pd

# Membaca data golf
df_golf = pd.read_csv('https://raw.githubusercontent.com/iizmyy/prak-machine-learning/main/dataset/golf-dataset.csv')
print(df_golf)

# Ukuran dataframe
print("\nUkuran df_golf : ",df_golf.shape)

# Atribut dataframe
print("\nAtribut : ", df_golf.columns.values)

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

Ukuran df_golf :  (14, 5)

Atribut :  ['Outlook' 'Temp' 'Humidity' 'Windy' 'Play Golf']

In [153]:
#Slicing menggunakan fungsi loc
print("\nSlicing dengan fungsi loc")
golf_slice = df_golf.loc[0:3,['Outlook','Temp', 'Play Golf']]
print(golf_slice)

#Slicing menggunakan fungsi iloc
print("\nSlicing dengan fungsi iloc")
golf_slice = df_golf.iloc[0:5,2:5]
print(golf_slice)

# Filtering
print("\nFiltering Humidity : Normal")
filter_humidity_normal = df_golf['Humidity'] == 'Normal'
print(df_golf[filter_humidity_normal])

print("\nFiltering Outlook : Rainy")
print(df_golf[df_golf['Outlook']=='Rainy'])

print("\nFiltering Outlook : Rainy dan Humidity : Normal")
df_golf_filter = df_golf[(df_golf['Outlook']=='Rainy') & (filter_humidity_normal)]
print(df_golf_filter)

Slicing dengan fungsi loc
    Outlook  Temp Play Golf
0     Rainy   Hot        No
1     Rainy   Hot        No
2  Overcast   Hot       Yes
3     Sunny  Mild       Yes

Slicing dengan fungsi iloc
  Humidity  Windy Play Golf
0     High  False        No
1     High   True        No
2     High  False       Yes
3     High  False       Yes
4   Normal  False       Yes

Filtering Humidity : Normal
     Outlook  Temp Humidity  Windy Play Golf
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
12  Overcast   Hot   Normal  False       Yes

Filtering Outlook : Rainy
   Outlook  Temp Humidity  Windy Play Golf
0    Rainy   Hot     High  False        No
1    Rainy   Hot     High   True        No
7    Rainy  Mild     High  False        No
8    Rainy  Cool   Normal  False       Yes
10   Rainy  Mild   Normal   True       Yes

Filtering Outlook : Rainy dan Humidity : Normal
   Outlook  Temp Humidity  Windy Play Golf
8    Rainy  Cool   Normal  False       Yes
10   Rainy  Mild   Normal   True       Yes

### Feature Engineering

#### Penanganan Data Hilang

In [ ]:
import pandas as pd
import numpy as np
 
# Membuat sebuah dictionary
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# Membuat dataframe dari dictionary
df = pd.DataFrame(dict)
print("Data Awal")
print(df)

# Mengisi data hilang dengan nilai rata-rata 
for i in df.columns:
    df[i].fillna(df[i].mean(), inplace=True)
    
print("\nData Setelah penanganan data hilang")
print(df)

#### Penanganan Data Kategorikal

In [160]:
import pandas as pd

df = pd.DataFrame({
    'A' : ['high', 'medium', 'low', 'medium'],
    'B' : [10,20,30,40]}, index=[0,1,2,3])

print(df)

# 1. Membuat dummy variabel
# Menggunakan fungsi get_dummies di Pandas
df_with_dummies = pd.get_dummies(df, prefix='A',columns=['A'])
print("\nMembuat Dummy Variabel : \n", df_with_dummies)

# Mengubah kategorikal ke angka
# Menggunakan fungsi factorize dari Pandas
df['A_pd_factorized'] = pd.factorize(df['A'])[0]
print("\nMengubah Kategorika ke numerik : \n", df)

        A   B
0    high  10
1  medium  20
2     low  30
3  medium  40

Membuat Dummy Variabel :
     B  A_high  A_low  A_medium
0  10       1      0         0
1  20       0      0         1
2  30       0      1         0
3  40       0      0         1

Mengubah Kategorika ke numerik :
         A   B  A_pd_factorized
0    high  10                0
1  medium  20                1
2     low  30                2
3  medium  40                1

#### Normalisasi Data

In [201]:
import pandas as pd
from sklearn import preprocessing

#Membaca data iris
df_iris = pd.read_csv('iris.csv')

#Slicing
iris_data = df_iris.iloc[0:10,:4]
iris_target = df_iris.iloc[0:10,4]
data = pd.concat([iris_data, iris_target], axis=1)
print("\nData sebelum normalisasi")
display(data)

# Normalisasi
# 1. Z-Score
zscore_scale = preprocessing.StandardScaler().fit(iris_data)
data_zscore = zscore_scale.transform(iris_data)

# 2. Min-Max Scaling
minmax_scale = preprocessing.MinMaxScaler().fit(iris_data)
data_minmax = minmax_scale.transform(iris_data)

print("\nHasil normalisasi Z-Score")
df_data_zscore = pd.DataFrame(data_zscore, columns=iris_data.columns)
data = pd.concat([df_data_zscore, iris_target], axis=1)
display(data)

print("\nHasil normalisasi Min-Max Scaling")
df_data_minmax = pd.DataFrame(data_minmax, columns=iris_data.columns)
data = pd.concat([df_data_minmax, iris_target], axis=1)
display(data)

Data sebelum normalisasi

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

Hasil normalisasi Z-Score

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0      0.868290     0.652078      -0.48795    -0.267261  setosa
1      0.144715    -1.063917      -0.48795    -0.267261  setosa
2     -0.578860    -0.377519      -1.46385    -0.267261  setosa
3     -0.940647    -0.720718       0.48795    -0.267261  setosa
4      0.506502     0.995277      -0.48795    -0.267261  setosa
5      1.953651     2.024875       2.43975     2.405351  setosa
6     -0.940647     0.308879      -0.48795     1.069045  setosa
7      0.506502     0.308879       0.48795    -0.267261  setosa
8     -1.664222    -1.407116      -0.48795    -0.267261  setosa
9      0.144715    -0.720718       0.48795    -1.603567  setosa

Hasil normalisasi Min-Max Scaling

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           0.7          0.6          0.25     0.333333  setosa
1           0.5          0.1          0.25     0.333333  setosa
2           0.3          0.3          0.00     0.333333  setosa
3           0.2          0.2          0.50     0.333333  setosa
4           0.6          0.7          0.25     0.333333  setosa
5           1.0          1.0          1.00     1.000000  setosa
6           0.2          0.5          0.25     0.666667  setosa
7           0.6          0.5          0.50     0.333333  setosa
8           0.0          0.0          0.25     0.333333  setosa
9           0.5          0.2          0.50     0.000000  setosa

### Binning

In [226]:
import pandas as pd

# Membuat data dari list
data_penduduk = [['Alex', 10], ['Bob', 16], ['Dian', 26], ['James', 24], ['Sam', 69]]
df = pd.DataFrame(data=data_penduduk, columns=['Nama','Usia'])
print(df)

# Binning dengan fungsi cut di Pandas
df['Binned'] = pd.cut(df['Usia'], bins=[0,10,19,60,100])

category = ['Anak', 'Remaja', 'Dewasa', 'Lanjut Usia']
df['Kategori'] = pd.cut(df['Usia'], bins=[0,10,19,60,100], labels=category)

print("\nData Setelah Diskritisasi : \n ",df)

    Nama  Usia
0   Alex    10
1    Bob    16
2   Dian    26
3  James    24
4    Sam    69

Data Setelah Diskritisasi :
      Nama  Usia     Binned     Kategori
0   Alex    10    (0, 10]         Anak
1    Bob    16   (10, 19]       Remaja
2   Dian    26   (19, 60]       Dewasa
3  James    24   (19, 60]       Dewasa
4    Sam    69  (60, 100]  Lanjut Usia